.main {
	display: flex;
	justify-content: center;
	background: var(--ochre-200);
}

.island {
	display: flex;
	flex-direction: column;
	width: 80vw;
	background: var(--ochre-100);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2rem;
}

.navbar h1 {
	width: 50%;
	margin-left: 3rem;
}

.navbarLinks {
	display: flex;
	width: 50%;
	justify-content: space-around;
}

.content > * {
	text-align: center;
	margin: 5rem;
}

.content div h1 {
	font-size: 4rem;
}

.content div p {
	font-size: 2rem;
}

.intro {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	margin-left: 2rem;
	margin-top: 6rem;
}

.intro h1 {
	font-size: 6rem !important;
}

.intro p {
	font-size: 2rem;
}

.intro button {
	margin-top: 4rem;
	margin-bottom: 10rem;
	height: 3rem;
	background-color: var(--ochre-500);
	color: var(--ochre-950);
	border: none;
	border-radius: 0.5rem;
	transition: 0.3s;
	scale: 1;
}

.intro button:hover {
	scale: 1.1;
	background-color: var(--ochre-300);
	cursor: pointer;
}

.intro button:active {
	background-color: var(--ochre-500);
}

.footer {
	text-align: center;
	border-top: 1px solid;
}
